<div class="section">
    <div>
        <h1>LOGO</h1>
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dolore totam neque ad id quo saepe ab quidem
        explicabo ullam.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dolore totam neque ad id quo saepe ab quidem
        explicabo ullam.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dolore totam neque ad id quo saepe ab quidem
        explicabo ullam.
    </div>
</div>