<div class="products-filter">
    <button class="filter-btn" (click)="doShowFilter()">
        <i class="bx bx-filter"></i>
    </button>

    <div class="filter-items-wrapper">
        <div class="filter-item">
            <h4>Marque</h4>
            <ul class="filter-item-list">
                <li *ngFor='let manufacturer of smatphonesManufacturers$ | async'>
                    <input type="checkbox" [value]="manufacturer.name" (change)="selectManufacturer($event)">
                    <label for="">{{ manufacturer.name }}</label>
                </li>
            </ul>
        </div>
        <div class="filter-item">
            <h4>Price</h4>
            <div class="range">
                <p>min price : {{ min_price }} TND</p>
                <input type="range" min="0" max="10000" [(ngModel)]="min_price" (change)="selectMinPriceRange($event)">
                <p>max price : {{ max_price }} TND</p>
                <input type="range" min="0" max="10000" [(ngModel)]="max_price" (change)="selectMaxPriceRange($event)">
            </div>
        </div>
    </div>
</div>