.filter-pills-section {
    width: 100%;
}

.filter-pills {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.reset-filter button {
    padding: 5px 15px;
    border: 2px solid orangered;
    color: orangered;
    background-color: white;
}