.section {
    min-height: 100vh;
    padding: 10px 10%;
}

.slider {
    background-image: url("../../assets/slide.jpg");
    height: 400px;
    background-size: cover;
    background-position: 50%, 50%;
    margin-bottom: 10px;
}

.simular-products-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(190px, auto));
}

.bottom {
    padding: 15px;
    border-bottom: 1px solid rgb(198, 198, 198);
    margin-bottom: 10px;
    text-align: center;
}

.bottom button {
    padding: 10px 20px;
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    font-size: 23px;
}

.bottom button:hover {
    background-color: orangered;
    color: white;
}