<div class="section">
    <div class="content">
        <div class="slider">
            <!-- <img src="../../assets/slide2.jpg" alt=""> -->
        </div>
        <div class="simular-products">
            <div class="title-section">
                <h3>Smartphones</h3>
                <div class="bottom">
                    <button>
                        More
                        <i class='bx bx-right-arrow-alt'></i>
                    </button>
                </div>
            </div>
            <div class="simular-products-container" *ngIf="simularProducts$ | async as simularProducts">
                <app-product *ngFor="let product of simularProducts" [product]="product"></app-product>
            </div>

        </div>
        <div class="simular-products">
            <div class="title-section">
                <h3>Headphones</h3>
                <div class="bottom">
                    <button>
                        More
                        <i class='bx bx-right-arrow-alt'></i>
                    </button>
                </div>
            </div>
            <div class="simular-products-container" *ngIf="simularHeadphones$ | async as simularProducts">
                <app-product *ngFor="let product of simularProducts" [product]="product"></app-product>
            </div>

        </div>
    </div>
</div>