.section {
    min-height: 100vh;
    padding: 20px 10%;
    margin-bottom: 10px;
}

.slider {
    background-image: url("../../assets/slide.jpg");
    height: 400px;
    background-size: cover;
    background-position: 50%, 50%;
    margin-bottom: 10px;
}

.simular-products-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(190px, auto));
}

.bottom {
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.bottom button {
    padding: 5px 20px;
    background-color: transparent;
    color: orangered;
    border: 2px solid orangered;
    font-size: 23px;
}

.bottom button i {
    vertical-align: middle;
}


.bottom button:hover {
    background-color: orangered;
    color: white;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}